@use "base" as b;

/* This file contains reusables such as buttons, navbars, cards etc. */

/* navigation menu*/
.top-nav {
  @include b.FlexRowCenter;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 22%;
  @include b.for-size(desktop) {
    background-color: hsla(360, 100%, 100%, 0.1);
    align-items: center;
    height: 6em;
  }

  #menutoggle {
    width: 100%;
    z-index: 1;
    display: block;
    position: relative;
    @include b.for-size(desktop) {
      @include b.FlexRowCenter;
      justify-content: flex-end;
      align-items: center;
    }
    input {
      position: absolute;
      right: 20px;
      top: 15px;
      height: 40px;
      width: 40px;
      cursor: pointer;
      z-index: 2;
      opacity: 0;
      @include b.for-size(desktop) {
        display: none;
      }
    }
    i {
      position: absolute;
      right: 20px;
      top: 11px;
      z-index: 1;
      font-size: 3em;
      color: white;
      @include b.for-size(desktop) {
        display: none;
      }
    }
  }
}

.menu {
  list-style-type: none;
  font-size: 1.7em;
  text-align: center;
  color: white;
  padding-top: 4rem;
  padding-bottom: 0.3em;
  transform: translateY(-100%);

  transition: transform 0.3s ease-out;
  background-color: hsla(360, 100%, 100%, 0.1);
  width: 100%;
  height: 100%;
  @include b.for-size(desktop) {
    transform: none;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    transition: none;
  }

  &__item {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    @include b.for-size(desktop) {
      display: inline;
      padding-right: 1em;
    }
  }
}

#menutoggle input:checked ~ ul {
  transform: none;
}

/* card */
.card {
  @include b.FlexColCenter;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  @include b.for-size(desktop) {
    width: 40%;
  }

  &__name {
    font-weight: bold;
    font-size: 1.3em;
  }

  &__img {
    height: 300px;
    width: 300px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 50%;
    box-shadow: 0px 0px 35px -1px grey;
  }

  &__desc {
    background-color: rgb(214, 214, 214);

    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 6px;
    @include b.for-size(desktop) {
      max-width: 80%;
    }

    span {
      font-size: 1.2em;
      i {
        font-size: 2.8em;
        font-weight: bold;
        margin-right: 0.1em;
      }
    }
  }
}

/* contact list */
.contact-list {
  color: white;
  list-style-type: none;
  font-size: 1.7em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 25%;
  line-height: 1.8em;
  &__item {
    i {
      margin-right: 0.5em;
    }
  }

  @include b.for-size(desktop) {
    margin-left: 0%;
  }
}

/* buttons */
.btn-icon {
  margin: 1em;
  &__link {
    i {
      color: white;
      font-size: 1.5em;
    }
    &--secondary {
      color: black;
      font-size: 1.5em;
    }
  }
}

/* Headlines */

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
