@use "base" as b;

/* This file contains all CSS regarding layout */

/*header layout*/
header {
  @include b.FlexColCenter;
  background-color: rgb(8, 156, 8); /* Fallback bkg-color */
  background-image: url(../assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* welcome text layout */
.hero {
  @include b.FlexColCenter;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;

  span {
    margin-top: 3rem;
  }

  &__text {
    color: white;
    text-align: center;
    font-size: 2.3rem;
    line-height: 2rem;
    font-weight: bold;
    &--small {
      @extend .hero__text;
      font-size: 1.8rem;
      font-weight: lighter;
    }
  }
}

/* Team layout */
#about {
  @include b.FlexColCenter;
}

.container-team {
  @include b.FlexColCenter;
  width: 100%;

  @include b.for-size(desktop) {
    @include b.FlexRowCenter;

    flex-wrap: wrap;
  }
}

/*contact layout*/
.container-contact {
  @include b.FlexColCenter;
  align-items: flex-start;
  background-color: black;
  @include b.for-size(desktop) {
    @include b.FlexRowCenter;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
