@use "base" as b;

/* This file contains all CSS regarding layout */

/*header layout*/
header {
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* welcome text layout */
.hero {
  @include b.FlexColCenter;
  height: 100%;
  color: white;
}

/* Team layout */
.container-team {
  @include b.FlexColCenter;
}

/*contact layout*/
.container-contact {
  @include b.FlexColCenter;
  background-color: black;
}
